:root{
    --text-gray: #666;
    --main-nav-height: 65px;
    --border-gray-dark: #ccc;
    --blue:#1976D2;
}
*:not(.fa){
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    /* font-size: 13px; */
}
nav{
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: var(--main-nav-height);
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    background: #fff !important;
    z-index: 999;
}
#main-menu-logo img{
    max-height: 64px;

}
main{
    display: flex;
    width: 100%;
    min-height: calc(100vh - var(--main-nav-height));
    margin-top: var(--main-nav-height);
    flex-direction: column;
    flex-wrap: wrap;

}
#launcher-section{
    display: block;
    width: 500px;
    margin: 0 auto;
    margin: auto;
    margin-top: 50px;
}
[branches-list]{
    width: 500px;
}
[branch-card]{
    min-width: 360px;
    background-color: rgba(255, 255, 255, 0.31);
    border-bottom: solid 1px white;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* cursor: pointer; */
    box-shadow: 0px 1px 6px #ccc;
    margin-bottom: 5px;
    border-radius: 3px;
}
.branch_profile_logo {
    display: block;
    width: 60px;
    height: 60px;
    background-size: contain;
    background-position: center;
    float: left;
    margin-right: 10px;
    background-repeat: no-repeat;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 #0000000f, 0 2px 10px 0 #0000000f;
}
.branch_profile_logo {
    display: block;
    width: 60px;
    height: 60px;
    background-size: contain;
    background-position: center;
    float: left;
    margin-right: 10px;
    background-repeat: no-repeat;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 #0000000f, 0 2px 10px 0 #0000000f;
}
.branch_hours {
    clear: both;
    text-align: left;
    font-size: 80%;
    font-weight: normal;
    padding-top: 5px;
}
.branch_name {
    margin-top: 0px;
    font-size: 14px;
    font-weight: bold;
    color: var(--blue);
    font-family: 'Saira Semi Condensed', sans-serif;
}
.branch_city {
    font-weight: normal;
    display: inline;
    margin-left: 5px;
    opacity: .6;
}
.branch_profile_info{
    position: relative;
}
ul.dropdown-content.select-dropdown li span {
    color: var(--blue); /* no need for !important :) */
}
.branch-contacts{
    float: right;
    font-size: 11px;
    text-align: center;
    display: block;
    border: 1px solid #e5e3e3;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0px 1px 14px 1px #77777b14;
    width: 99px;
    position: absolute;
    right: -10px;
    top: 39px;
    background: #fff;
    z-index: 9999;
    display: none;
}
.branch-contacts a{
    display: inline-block;
    margin: 5px 0px;
}
.branch-contacts a:hover{
    color: var(--blue);
}
.branch-call-icon{
    float: right; 
    font-size: 11px; 
    text-align: center;
    display: block; 
    margin: 2px; 
    margin-top:10px;
    padding: 4px; 
    padding-left: 8px; 
    padding-right: 8px;
    border-radius: 6px;
    width: 30px;
    height: 26px;
}
/* BOT section */
[bot-trigger] {
    background-color: rgb(0, 113, 173);
    display: flex;
    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    z-index: 9999 !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #fff;
}
[bot-trigger] .fa{
    color: #fff;
}
[chatbot-area], [active-chat]{
    position: fixed;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 18px #00000029;
    bottom: 90px;
    right: 10px;
    height: 450px;
    max-height: calc(100vh - 200px);
    background: #fff;
    overflow: hidden;
    border: 0px solid transparent;
}
[active-chat] {
    height: 392px;
    overflow-y: auto;
    max-width: 350px;
    bottom: 90px;
    border-top-left-radius: 0px;
}
[chatbot-area] [chart-header]{
    position: fixed;
    width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 60px;
    background: #0071ad;
    border: 0px solid transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 0px 5px;
}
[chatbot-area] [chart-header] [chatbot-logo]{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid #fff;
    background: #fff;
}
[chatbot-area] [chart-header] [chatbot-logo] img{
    display: inline-block;
    max-width: 100%;
}
[nowrap]{word-wrap: none; white-space: nowrap;}
[overflow-x]{overflow-x: auto;}
[full-width]{width: calc(100% - 2px);}
[flex]{display: flex;}
[in-flex]{display: inline-flex;}
[in-block]{display: inline-block;}
[row-wrap]{flex-flow: row; flex-wrap: wrap;}
[wrap]{white-space: wrap; overflow-x: wrap; flex-wrap: wrap;}
[cols]{flex-flow: column;}
[flex-start]{flex-flow: flex-start;}
[space-evenly],[space-even]{justify-content: space-evenly;}
[space-between]{justify-content: space-between;}
[space-around]{justify-content: space-around;}
[border-1]{border: 1px solid rgb(120, 120, 120);}
[border-b-1]{border-bottom:1px solid var(--border-gray-dark);}
[vertical-center],[v-center]{align-items: center;align-content: center;}
[small]{font-size:small;}
[smaller]{font-size: smaller;}
[center]{text-align: center;}
[j-center]{justify-content: center;}
[cursor-pointer],[c-pointer]{cursor: pointer;}
[transition]{transition: .6s;}
[mg0]{margin: 0px;}
[mgb10]{margin-bottom: 10px;}
[pd0]{padding: 0px;}
[pd5]{padding: 5px;}
[b]{font-weight: 600;}
[pd5]{padding:5px;}
[hover-u]:hover{text-decoration:underline;}
[fit-content]{width: fit-content !important;}
[w100], [w-50]{width: 100px;}
[w50],[w-50]{width: 50px;}
[w80],[w-80]{width: 80px;}
[w-fit-content]{width: fit-content;}
[h30]{height:31px;}
[h20]{height:20px;}
[grey],[gray],.grey,.gray{color: var(--text-gray);}
[bg-blue]{
    background-image: linear-gradient(
        90deg
        ,#2565B5 0%,#2565B5 100%)!important;
}
@media screen and (max-width: 900px){
    #launcher-section{
        width: 100%;
    }

    #main-menu-logo img{
        max-width: 80vw !important;
        max-height: var(--main-nav-height);
    }
    [branches-list]{
        max-width: 100%;
    }
}